/* 
/* Mobile Styling */
@media screen and (max-width:800px) {
    * {
        font-family: Bahnschrift;

    }

    body {
        display: block;
        position: fixed;
        padding: 0%;
        border: 0ch;
        margin: 0%;
    }

a{
    color: hsl(0, 0%, 41%);
    text-decoration: none;
}
    #aside {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.377);
        width: 100%;
        height: 1000px;
    }

    header {
        display: flex;
        position: relative;
        width: 100%;

    }

    header svg:nth-child(1) {
        display: block;
        width: 80%;
        padding-left: 15px;
        margin-top: 15px;
    }

    #hamburger {
        z-index: 2;
        display: block;
        position: absolute;
        width: 20%;
        padding-left: 1%;
        padding-right: 1%;
        margin-left: 83%;
        z-index: 3;
        margin-top: 5px;
    }



    #features {
        display: none;
        width: 80%;
    }

    #company {
        display: none;
        width: 80%;

    }

    #mobile-nav {
        display: none;
        position: absolute;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.411);
        width: 100%;
        height: 200%;
    }

    #side-nav {
        display: block;
        position: relative;
        /* z-index: 1; */
        width: 80%;
        height: 100%;
        padding-top: 20%;
        margin-left: 20%;
        background-color: rgb(255, 255, 255);
    }

    .side-nav {
        display: block;
        position: relative;
        width: 100%;
        /* margin-top: 10%; */
        /* margin-bottom: 10%; */
        margin-left: 10%;
        font-size: 23px;
        color: hsl(0, 0%, 41%);
    }

    .side-nav div {
        display: block;
        position: relative;
        width: 50%;
        margin-bottom: 7%;
    }

    .side-nav div span svg {
        margin-left: 10px;
        margin-bottom: 4px;
        color: hsl(0, 0%, 41%);
    }

    #side-nav-login-register {
        display: block;
        width: 100%;
        position: absolute;
        margin-left: 0%;
        text-align: center;
        justify-content: center;
        z-index: 3;
    }

    #side-nav-login-register span {
        display: flex;
        position: relative;
        width: 100%;
        font-size: 21px;
        justify-content: center;
        align-items: center;
        color: hsl(0, 0%, 41%);
        
        

    }

    #side-nav-login-register span:nth-child(2) a {
        display: block;
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        color: hsl(0, 0%, 41%);
        background-color: white;
        font-size: 21px;
        margin-top: 10%;
        padding-left: 80px;
        padding-right: 80px;
        border-radius: 15px;
        border: 1px solid black;
    }
    #mobile-nav-features {
        display:none;
        list-style-type: none;
        width: 100%;
        margin-left: 1%;
    }
    #mobile-nav-features li{
        margin-bottom:5px;
        padding-top: 5px ;
        padding-bottom: 5px;
        width:100%;
        font-size: 17px;
    }
    #mobile-nav-features li svg{
        padding-right:10px;
        margin: 0%;
    }
    #mobile-nav-company{
        display: none;
        list-style-type: none;
        width: 100%;
        margin-left: 1%;
    }
    #mobile-nav-company li{
        margin-bottom:5px;
        width:100%;
        padding-top: 5px ;
        padding-bottom: 5px;
        font-size: 17px;
    }


    .menu {
        display: none;
    }

    .login-register {
        display: none;
    }

    #hero-mobile img {
        margin-top: 30px;
        width: 102%;
    }

    #hero-desktop {
        display: none;
    }

    #paragraph {
        width: 100%;
        text-align: center;
    }

    article h1 {
        width: 100%;
        justify-content: center;
        text-align: center;
        font-size: 42px;
    }

    article p {
        width: 100%;
        color: hsl(0, 0%, 41%);
        margin-left: 5px;
        text-align: center;
        font-size: 19px;
    }

    #button {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #button button {
        background-color: black;
        color: white;
        font-size: large;
        font-size: large;
        border: 1px solid black;
        margin-top: 5%;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 20px;
    }

    #button button:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }


    footer {
        width: 100%;
        height: 50px;
        border: 0ch;
        padding: 5px;
        margin-top: 15%;
        display: flex;
        position: relative;
        justify-content: space-between;
    }



}

/* Desktop Styling */
@media screen and (min-width:800px) {
    * {
        font-family: Bahnschrift;
    }

    #side-nav {
        display: none;
    }

    body {
        display: block;
        width: 100%;
        background-color: hsl(0, 0%, 98%);
        position: fixed;
        border: 0ch;
        margin: 0%;
        padding: 0%;
    }
    a{
        color: hsl(0, 0%, 41%);
        text-decoration: none;
    }

    header {

        width: 100%;
        display: flex;
        cursor: pointer;
        margin-top: 1%;
        margin-right: 0%;
    }

    header svg:nth-child(2) {
        display: none;
    }

    header svg:nth-child(1) {
        margin-top: 1%;
        /* width: 7%; */
        margin-left: 20px;
        padding-right: 0%;
    }

    #nav {
        display: flex;
        position: relative;
        width: 99%;
        margin-right: 0%;
        /* background-color: black; */

}

    .menu li {
        display: flex;
        padding-left: 5px;
    }

    .menu li svg {
        width: 100%;
        margin-top: 8px;
        margin-left: 8px;
    }

    .menu {
        display: flex;
        position: relative;
        margin-top: 5px;
        list-style-type: none;
        color: hsl(0, 0%, 41%);
    }

    .menu li {
        padding: 10px;
    }

    #features {
        background-color: white;
        display: none;
        position: absolute;
        padding: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 55px;
        margin-left: 7%;
        z-index: 1;
        border: 0ch;
        border-radius: 10px;
        box-shadow: 0px 1px 10px 10px hsla(0, 0%, 41%, 0.144);

    }

    #features li {
        width: 100%;
        padding: 4px;
        margin-right: 0%;
        color: hsl(0, 0%, 41%);
        list-style-type: none;
        text-align: left;

    }

    #features li svg {
        margin-right: 5px;
    }

    #company {
        background-color: white;
        display: none;
        position: absolute;
        padding: 10px;
        z-index: 1;
        margin-left: 20%;
        margin-top: 55px;
        border: 0ch;
        border-radius: 10px;
        box-shadow: 0px 1px 10px 10px hsla(0, 0%, 41%, 0.144);


    }

    #company li {
        width: 100%;
        padding: 7px;
        text-align: left;
        margin-right: 0%;
        color: hsl(0, 0%, 41%);
        list-style-type: none;
    }


    .login-register {
        display: block;
        position: absolute;
        width: 20%;
        margin-left: 82%;
        padding-left: 30px;
        margin-top: 20px;
    }

    .login-register a {
        text-decoration: none;
        color: hsl(0, 0%, 41%);
    }

    .login-register a:nth-child(1) {
        margin-right: 10%;
    }

    .login-register a:nth-child(2) {
        text-align: center;
        margin-top: 2%;
        margin-left: 4%;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 18px;
        padding-right: 18px;
        border: 2px solid hsl(0, 0%, 41%);
        border-radius: 10px;
    }

    #hero-mobile {
        display: none;
    }

    #hero-desktop {
        display: block;
        width: 28%;
        height: 95%;
        position: absolute;
        margin-top: 2%;
        margin-left: 62%;
    }

    #hero-desktop img {
        width: 100%;
        height: 100%;
    }

    #hamburger {
        display: none;
    }

    article {
        width: 40%;
        margin-top: 9%;
        margin-left: 12%;

    }

    article h1 span {
        display: block;
        width: 90%;
        height: 10px;
        font-size: 79px;
        text-align: left;
        /* text-overflow: clip; */
        padding: 0%;
        border: 0ch;
        padding: 0%;

    }

    article h1 span:nth-child(2){
            margin-top: 10%;   
    }

    article p {
        display: block;
        position: relative;
        margin-top: 20%;
        font-size:18px;
        text-align: justify;
        width: 70%;
        color: hsl(0, 0%, 41%);

    }

    article button {
        background-color: black;
        color: hsl(0, 0%, 98%);
        font-size: medium;
        border: 0ch;
        margin-top: 2%;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid black;
        border-radius: 20px;
        z-index: 1;
    }

    article button:hover {
        background-color: white;
        color: black;
        font-weight: 900;
        border: 1px solid black;
    }

    footer {
        z-index: -1;
        display: flex;
        position: absolute;
        justify-content: space-evenly;
        width: 40%;
        margin-top: 4%;
        margin-left: 9%;
    }
} 